<!doctype html>
<head>
	<title>NSFW</title>
	<meta
		http-equiv="refresh"
		content="0;url=https://www.youtube.com/watch?v=dQw4w9WgXcQ"
	/>
	<meta name="robots" content="noindex" />
	<link rel="canonical" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@" />
	<meta name="twitter:title" content="Cuebitt.RIP" />
	<meta name="twitter:description" content="All of my NSFW art. 18+ only!" />
</head>

<body>
	<script is:inline>
		setTimeout(() => {
			window.location.href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ";
		}, 2000);
	</script>
</body>
