---
import "@splidejs/splide/css";
import { Splide, SplideSlide } from "astro-splide";
import AttributedImage from "./AttributedImage.astro";

interface CarouselItem {
	img_src: string;
	img_alt: string;
	width: number;
	height: number;
	date: string;
	attribution_name: string;
	attribution_url: string;
	blur: boolean;
}

interface Props {
	items: CarouselItem[];
	class?: string;
	start?: number;
}

const { items, start } = Astro.props;
---

<div class="not-content overflow-hidden bg-(--sl-color-black)">
	<Splide options={{ type: "loop", heightRatio: 3 / 4, start: start || 0 }}>
		{
			items.map((item, index) => (
				<SplideSlide class="flex flex-col">
					<AttributedImage image={item} load="lazy" />
				</SplideSlide>
			))
		}
	</Splide>
</div>

<!-- hack to remove padding from a card -->
<style is:global>
	.no-pad .card {
		padding: 0 !important;
	}

	.no-pad .title {
		display: none;
	}
</style>
