---
import "./tailwind.css";
import { getImagePath } from "astro-opengraph-images";

interface Props {
  title: string;
}

const { title } = Astro.props;

const { url, site } = Astro;
const openGraphImageUrl = getImagePath({ url, site });
---

<!doctype html>
<html lang="en" class="h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta name="og:title" content="Cuebitt.RIP" />
    <meta name="og:type" content="website" />
    <meta name="og:image" content={openGraphImageUrl} />

    <slot name="head" />
  </head>
  <body class="h-screen">
    <slot />
  </body>
</html>
