---
import "./tailwind.css";

interface Props {
  title: string;
  bodyClass?: string;
}

const { title, bodyClass } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta name="og:title" content="Cuebitt.RIP" />

    <slot name="head" />
  </head>
  <body class:list={["h-screen", bodyClass]}>
    <slot />

    <div class="hidden" aria-hidden="true">
      <ul>
        <li>
          <a href="https://github.com/cuebitt" rel="me">GitHub</a>
        </li>
      </ul>
      <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
    </div>
  </body>
</html>
